<!DOCTYPE html>
<html lang="en">
<%- include("./Components/head.ejs") %>
<body>
  <%- include("./Components/header.ejs") %>

 <h1 style="text-transform: capitalize;"><%= titleInApp %></h1>
  <div class="about-card">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias et facilis beatae ad non rerum amet! Rerum culpa deserunt odit repellat, laudantium quod quae cum excepturi incidunt corrupti beatae atque!</p>
    <p>Our mission is to provide a modern blogging platform with smooth animations, responsive design, and a clean user interface. Enjoy creating and reading content with style!</p>
  </div>

  <%- include("./Components/footer.ejs") %>
</body>
</html>