<!DOCTYPE html>
<html lang="en">
<%- include("./Components/head.ejs") %>
<body>
    <%- include("./Components/header.ejs") %>
    <h1 style="text-transform: capitalize;" class="text-404"><%= titleInApp %> - page not found</h1>
    <p>i can't reched</p>
    <%- include("./Components/footer.ejs") %>
</body>
</html>