<!DOCTYPE html>
<html lang="en">
<%- include("./Components/head.ejs") %>
<body>
  <%- include("./Components/header.ejs") %>

 <h1 style="text-transform: capitalize;"><%= titleInApp %></h1>
  <p>Create your new post below using the form. Enjoy smooth animations and modern UI!</p>

  <form action="" class="form">
    <input type="text" placeholder="Blog Title" name="title" id="title" required>
    <input type="text" placeholder="Blog Snippet" name="snippet" id="snippet" required>
    <textarea name="body" id="body" placeholder="Write your blog content..." required></textarea>
    <button id="submit-btn">Submit</button>
  </form>

  <%- include("./Components/footer.ejs") %>
</body>
</html>